/* Default style for the input */
.search.ant-input-affix-wrapper {
  border: 2px solid #ffffff !important; /* Default border color */
  border-radius: 20px !important; /* Default border radius */
  height: 40px !important; /* Default height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Box shadow */
  width: 40px; /* Small width by default */
  background-color: transparent !important; /* Make the background transparent */
  color: #ffffff;
  transition: width 0.3s ease, margin-left 0.3s ease; /* Smooth width and position change */
}

/* Default state when search is off, center the prefix */
.search .ant-input-prefix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* When the search input is focused (onSearch is true), don't center the prefix */
.search.on .ant-input-prefix {
  display: flex;
  justify-content: flex-start; /* Align the prefix to the start */
  align-items: center;
  width: auto;
}

/* Style when input is focused */
.search.on.ant-input-affix-wrapper {
  width: 100% !important; /* Expand width to 100% */
  margin-left: -50px; /* Move input from left */
}

/* Hover state for cursor */
.search.ant-input-affix-wrapper:hover {
  cursor: pointer !important;
}

.header-container {
  height: 15%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15%;
}

@media (min-width: 1366px) {
  .search.ant-input-affix-wrapper {
    height: 30px !important; /* Default height */
    width: 30px; /* Small width by default */
  }
  .search.on.ant-input-affix-wrapper {
    margin-left: -40px; /* Move input from left */
  }
}
