.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Adjust height as needed */
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  height: 100%;
  min-width: 100%;
  background: white; /* Card background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: lightgray;
  border: none;
  cursor: pointer;
}

.dot.active {
  background: gray;
}

.custom-slider-item {
  width: 300px;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.7);
}

.custom-container {
  width: 100%;
  height: 35%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
}

.location-text {
  height: 20%;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

.name-text {
  height: 80%;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  color: rgba(255, 255, 255);
  white-space: pre-line;
}

@media (max-width: 1366px) and (max-height: 768px) {
  .custom-slider-item {
    /* Example responsive styles */
    width: 210px;
  }
  .location-text {
    font-size: 12px;
  }
  .name-text {
    font-size: 22px;

  }
}
